@import url("../../css/index.css");

.rating-div {
	background-color: var(--color-dark);
}
.rating-div > i {
	margin: 0 var(--u-2);
	color: var(--color-gold);
	cursor: pointer;
	/* color: var(--color-primary); */
}
