@import url("../../css/index.css");

.nav-simple {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--u-10) var(--u-16);
	background-color: var(--color-primary);
	color: var(--color-light);
}

.nav-heading {
	font-size: var(--text-xl);
	cursor: pointer;
}

.nav-list {
	display: flex;
}

.nav-list > * {
	padding: 0 var(--u-4);
	cursor: pointer;
}

.nav-search {
	outline: none;
	border: none;
	border-radius: var(--rounded-sm);
	height: var(--u-20);
}
