<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="/src/assets/unit-icon.png" type="image/x-icon" />
		<title>Alert</title>
		<link rel="stylesheet" href="./alert.css" />
	</head>
	<body>
		<header class="header">
			<div class="header-content">
				<span>
					<span class="pr-10 respHam" onclick="changeHam()">
						<i class="fal fa-bars text-dark"></i>
					</span>
					<a href="/index.html"> <span>Unit</span> UI </a>
				</span>
				<span class="git-link">
					<a href="https://github.com/koushikrp/UnitUI" target="blank">
						<i class="fab fa-github btn-icon"></i>
					</a>
				</span>
			</div>
		</header>
		<main class="main-container">
			<div class="respSidebar">
				<span class="closeNav pr-10 pl-10 text-center" onclick="closeNavBar()">
					Close <i class="far fa-times"></i>
				</span>
				<h3>Getting started</h3>
				<nav class="intro-list">
					<ul>
						<li>
							<a href="../../pages/getting-started.html">Introduction</a>
						</li>
						<li><a href="../../pages/usage.html">Usage</a></li>
						<li><a href="../../pages/colors.html">Color pallet</a></li>
						<li><a href="../../pages/typography.html">Typography</a></li>
					</ul>
				</nav>
				<h3>Components</h3>
				<nav class="intro-list">
					<ul>
						<li><a href="../alert/alert.html">Alert</a></li>
						<li><a href="../avatar/avatar.html">Avatar</a></li>
						<li><a href="../badge/badge.html">Badge</a></li>
						<li><a href="../button/button.html">Button</a></li>
						<li><a href="../card/card.html">Card</a></li>
						<li><a href="../grid/grid.html">Grid</a></li>
						<li><a href="../image/image.html">Image</a></li>
						<li><a href="../input/input.html">Input</a></li>
						<li><a href="../slider/slider.html">Slider</a></li>
						<li><a href="../list/list.html">List</a></li>
						<li><a href="../modal/modal.html">Modal</a></li>
						<li>
							<a href="../navigation/navigation.html">Navigation</a>
						</li>
						<li><a href="../rating/rating.html">Rating</a></li>
						<li>
							<a href="../text-utilities/text-utilities.html">Text Utilities</a>
						</li>
						<li><a href="../toast/toast.html">Toast</a></li>
						<div class="divider"></div>
						<li><a href="../utility/utility.html">Utility</a></li>
					</ul>
				</nav>
				s
			</div>
			<div class="documentation-container">
				<div class="sidebar">
					<h3>Getting started</h3>
					<nav class="intro-list">
						<ul>
							<li>
								<a href="../../pages/getting-started.html">Introduction</a>
							</li>
							<li><a href="../../pages/usage.html">Usage</a></li>
							<li><a href="../../pages/colors.html">Color pallet</a></li>
							<li><a href="../../pages/typography.html">Typography</a></li>
						</ul>
					</nav>
					<h3>Components</h3>
					<nav class="intro-list">
						<ul>
							<li><a href="../alert/alert.html">Alert</a></li>
							<li><a href="../avatar/avatar.html">Avatar</a></li>
							<li><a href="../badge/badge.html">Badge</a></li>
							<li><a href="../button/button.html">Button</a></li>
							<li><a href="../card/card.html">Card</a></li>
							<li><a href="../grid/grid.html">Grid</a></li>
							<li><a href="../image/image.html">Image</a></li>
							<li><a href="../input/input.html">Input</a></li>
							<li><a href="../slider/slider.html">Slider</a></li>
							<li><a href="../list/list.html">List</a></li>
							<li><a href="../modal/modal.html">Modal</a></li>
							<li>
								<a href="../navigation/navigation.html">Navigation</a>
							</li>
							<li><a href="../rating/rating.html">Rating</a></li>
							<li>
								<a href="../text-utilities/text-utilities.html">Text Utilities</a>
							</li>
							<li><a href="../toast/toast.html">Toast</a></li>
							<div class="divider"></div>
							<li><a href="../utility/utility.html">Utility</a></li>
						</ul>
					</nav>
				</div>
				<div class="documentation-component">
					<h1 class="content-title">Alert</h1>
					<h2 class="content-subtitle">Alert filled</h2>
					<p class="content-description">
						This is default profile avatar which can be added with
						<span class="highlighted-text">alert</span> class
					</p>
					<div class="component-display flex flex-col items-center text-center">
						<div class="alert primary-filled">This is primary alert</div>
						<div class="alert success-filled">This is sucess alert</div>
						<div class="alert warning-filled">This is warning alert</div>
						<div class="alert danger-filled">This is danger alert</div>
					</div>
					<div class="code-wrapper">
						<iframe
							src="https://carbon.now.sh/embed?bg=rgba%28226%2C232%2C240%2C1%29&t=nord&wt=none&l=auto&width=500&ds=false&dsyoff=7px&dsblur=100px&wc=true&wa=false&pv=24px&ph=18px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522alert%2520primary-filled%2522%253EThis%2520is%2520primary%2520alert%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522alert%2520success-filled%2522%253EThis%2520is%2520sucess%2520alert%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522alert%2520warning-filled%2522%253EThis%2520is%2520warning%2520alert%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522alert%2520danger-filled%2522%253EThis%2520is%2520danger%2520alert%253C%252Fdiv%253E"
							style="width: 561px; height: 238px; border: 0; transform: scale(1); overflow: hidden"
							sandbox="allow-scripts allow-same-origin"
						>
						</iframe>
					</div>

					<h2 class="content-subtitle">Alert outlined</h2>
					<p class="content-description">
						This is default profile avatar which can be added with
						<span class="highlighted-text">alert</span> class
					</p>
					<div class="component-display flex flex-col items-center text-center">
						<div class="alert primary-outlined">This is primary alert</div>
						<div class="alert success-outlined">This is sucess alert</div>
						<div class="alert warning-outlined">This is warning alert</div>
						<div class="alert danger-outlined">This is danger alert</div>
					</div>
					<div class="code-wrapper">
						<iframe
							src="https://carbon.now.sh/embed?bg=rgba%28226%2C232%2C240%2C1%29&t=nord&wt=none&l=auto&width=500&ds=false&dsyoff=7px&dsblur=100px&wc=true&wa=false&pv=24px&ph=18px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522alert%2520primary-outlined%2522%253EThis%2520is%2520primary%2520alert%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522alert%2520success-outlined%2522%253EThis%2520is%2520sucess%2520alert%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522alert%2520warning-outlined%2522%253EThis%2520is%2520warning%2520alert%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522alert%2520danger-outlined%2522%253EThis%2520is%2520danger%2520alert%253C%252Fdiv%253E%250A"
							style="width: 561px; height: 275px; border: 0; transform: scale(1); overflow: hidden"
							sandbox="allow-scripts allow-same-origin"
						>
						</iframe>
					</div>

					<h2 class="content-subtitle">Alert with Icons</h2>
					<p class="content-description">
						This is default profile avatar which can be added with
						<span class="highlighted-text">alert</span> class
					</p>
					<div class="component-display flex flex-col items-center text-center">
						<div class="alert success-outlined flex justify-between items-center">
							This is sucess alert <i class="fas fa-check-circle"></i>
						</div>
						<div class="alert warning-outlined flex justify-between items-center">
							This is warning alert <i class="far fa-exclamation-triangle"></i>
						</div>
						<div class="alert danger-outlined flex justify-between items-center">
							This is danger alert <i class="fal fa-exclamation-circle"></i>
						</div>
					</div>
					<div class="code-wrapper">
						<iframe
							src="https://carbon.now.sh/embed?bg=rgba%28226%2C232%2C240%2C1%29&t=nord&wt=none&l=auto&width=500&ds=false&dsyoff=7px&dsblur=100px&wc=true&wa=false&pv=24px&ph=18px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522alert%2520primary-outlined%2522%253EThis%2520is%2520primary%2520alert%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522alert%2520success-outlined%2522%253EThis%2520is%2520sucess%2520alert%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522alert%2520warning-outlined%2522%253EThis%2520is%2520warning%2520alert%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522alert%2520danger-outlined%2522%253EThis%2520is%2520danger%2520alert%253C%252Fdiv%253E%250A"
							style="width: 561px; height: 275px; border: 0; transform: scale(1); overflow: hidden"
							sandbox="allow-scripts allow-same-origin"
						>
						</iframe>
					</div>
				</div>
			</div>
		</main>
		<script src="/src/js/index.js"></script>
	</body>
</html>
